*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.vscode-dark {
  --header-color: #d4d4d4;
  --cell-font-color: #d3d3d3;
  --cell-bcg-color: #252526;

  --table-border-color: #37373d;
  --table-inner-borders-color: #2E2E32;

  --member-uri-color: #4ec9b0;
  --member-literal-color: #ce9178;
  --member-prefix-color: #569cd6;
  --member-name-color: #9cdcfe;

  --table-hover-color: #2A2A2C;
}

body.vscode-light {
  --header-color: #000000;
  --cell-font-color: #000000;
  --cell-bcg-color: #f3f3f3;

  --table-border-color: #e8e8e8;
  --table-inner-borders-color: #e8e8e8;
  /* --table-inner-borders-color: #EEEEEE; */

  --member-uri-color: #267f99;
  --member-literal-color: #008000;
  --member-prefix-color: #0000ff;
  --member-name-color: #001080;

  --table-hover-color: #e8e8e8;
}

.book_table {
  display: flex;
  justify-content: flex-start;
  border: 1px solid var(--table-border-color);
}

.book_col {
  flex-shrink: 1;
  min-width: 64px;
  overflow: hidden;
}

.book_linenum_col {
  flex-shrink: 1;
  min-width: 56px;
  overflow: hidden;
  border-right: 1px solid var(--table-inner-borders-color);
  text-align: right;
}

.book_col:last-child {
  flex-grow: 1;
}

.book_cell,
.book_header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px 8px;
  background-color: var(--cell-bcg-color)
}

.book_cell {
  border-top: 1px solid var(--table-inner-borders-color);
}

.book_header {
  font-weight: bold;
  font-size: 0.85em;
  padding: 8px;
  color: var(--header-color);
}

.book_member_uri {
  color: var(--member-uri-color);
}

.book_member_literal {
  color: var(--member-literal-color);
}

.book_member_prefix {
  color: var(--member-prefix-color);
}

.book_member_name {
  color: var(--member-name-color);
}

.book_monofont {
  font-family: "Cascadia Code", "Courier New", monospace;
  font-weight: 300;
}